html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


/** Globales **/
img {
    max-width: 100%;
}
.contenedor {
    max-width: 768rem; /** 768px **/
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 1.9rem;
}
h3 {
    font-size: 1.7rem;
}
h4 {
    font-size: 1.5rem;
}

.vista-documento h1{
    font-size: 2.1rem;
}
.vista-documento h2{
    font-size: 1.9rem;
}
.vista-documento h3{
    font-size: 1.6rem;
}
.vista-documento h4{
    font-size: 1.4rem;
}
.vista-documento h5{
    font-size: 1.3rem;

}
.vista-documento p{
    font-size: 1.3rem;
}

/** Utilidades **/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300 {
    font-weight: 300;
}
.fw-500 {
    font-weight: 500;
}
.centrar-texto {
    text-align: center;
}
.d-block {
    display: block!important;
}
.contenido-centrado {
    max-width: 800px;
}
.contenido-consulta {
    max-width: 600px;
}
.inicio-sesion {
    max-width: 280px;
}
.seleccionar-opcion {
    max-width: 320px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

/* Botones */
.boton {
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
}
.boton:hover {
    cursor: pointer;
}
.boton-amarillo {
    background-color: #e08709;
}
.boton-verde {
    background-color: #71b100;
}
.boton-opcion {
    background-color: #0F6B8A;
}
.boton-cambio {
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    display: inline-block;
    text-align: center;
    border: none;
    background-color: #0F6B8A;
}
.boton-noiso {
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    display: inline-block;
    text-align: center;
    border: none;
    background-color: #87cefa; 
}

.boton-add {
    margin: 1rem;
    color: #fff;
    background-color: #0b4f66 !important;
    border-color:  #0b4f66 !important;
}

/* Header */
.site-header {
    background-color: #d3d3d3;
    padding: 0.5rem 0 0.5rem 0;
    border: #333333;
}
.site-header.inicio{
       background: url(../img/header.jpg);
       background-position: center center;
       background-size: cover;
       height: 80vh;
       min-height: 60rem;
}
.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenido-header h1{
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 3rem;
}
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
}

/** Navegación **/
.navegacion{
    margin-right: 2em !important;
    margin-left: 2em !important;
}

.navegacion a {
     color: #006699;
     text-decoration: none;
     font-size: 1.6rem; /**= 18px **/
     margin-right: 1rem;
}
.navegacion a:hover {
    color: white; 
}
.navegacion a:last-of-type {
    margin-right: 0;
}
.opciones a {
    text-decoration: none;
}
.agregar a {
    text-decoration: none;
    font-size: 1.5rem;
}
.agregar a:hover {
    color: blue;
   
}
.agregar p{
    font-size: 1.8rem;
}

.titulos a{
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 6rem;
}
.documentos a:hover {
    color: blue;
}

/** Iconos Nosotros **/
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}
.icono {
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}
.icono h3 {
    text-transform: uppercase;
}

/** Anuncios **/
.contenedor-anuncios {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.anuncio {
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #B5B5B5;
    background-color: #F5F5F5;
    margin-bottom: 2rem;
}
.producto {
    flex: 0 0 calc(50% - 1rem);
    border: 1px solid #B5B5B5;
    background-color: #F5F5F5;
    margin-bottom: 2rem;
       
}
.contenido-anuncio {
    padding: 1rem;
}
.contenido-anuncio h3, 
.contenido-anuncio p {
    margin: 0;
}
.precio {
    color: #71b100;
    font-weight: 700;
}
.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
}
.iconos-caracteristicas li {
    /*flex: 1;*/
    display: flex;
   
}
.iconos-caracteristicas li img {
    margin-right: 2rem;
}
.ver-todas {
    display: flex;
    justify-content: flex-end;
}

/** Contacto Home**/
.imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
    
}
.contenido-contacto {
    flex: 1;
    color: white;
}
.contenido-contacto p {
    font-size: 1.8rem;
}

/** Seccion Inferior **/
.seccion-inferior {
     display: flex;
     justify-content: space-between;
}
.seccion-inferior .blog {
    flex-basis: 60%;
}
.seccion-inferior .testimoniales {
    flex-basis: calc(40% - 2rem);
}

.entrada-blog {
    display: flex;
    justify-content: space-between;
    
   
}
.entrada-blog :last-of-type {
    margin-bottom: 0;
}
.entrada-blog .imagen {
    flex-basis: 40%;

}
.entrada-blog .texto-entrada {
    flex-basis: calc(60% - 3rem);
    
}
.texto-entrada a {
    color: black;
    text-decoration: none;
}
.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
}
.texto-entrada h4::after {
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: blue;
    margin-top: 1rem;
}
.texto-entrada span {
    color: #e08709;
}
/** Testimoniales **/
.testimonial {
    background-color: #71b100;
    font-size: 2.4rem;
    padding: 2rem;
    color:  #ffffff;
    border-radius: 2rem;
}
.testimonial p {
    text-align: right;
}
.testimonial blockquote::before {
    content:'';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
    
}
.testimonial blockquote {
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}
/** Footer **/
.site-footer {
    background-color: #d3d3d3;
    margin: 0;
}
.contenedor-footer {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}
.contenedor-footer img {
    max-block-size: 3rem;
    align-content: center;
   
}
.copyright {
    margin: 0;
    color: #0000ff;
    margin-right: 2em !important;
}
/** Páginas Internas **/
/**Nosotros **/
.contenido-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}
.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}
/**Anuncio**/
.resumen-propiedad {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/** Contacto **/
form p {
    font-size: 1.4rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}
legend {
    font-size: 2rem;
    color: #4f4f4f;
}
label {
    font-weight: 500;
    text-transform: none;
    
    
        
}


input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    display: block;
    width: 100%; 
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
input[type="radio"]{
    width: auto;
    margin: none;
    clear: none;
    transform: scale(1.5);
}
select{
    -webkit-appearance: none;
    appearance: none;
}
textarea {
    height: 200px;
    width: 17px;
}
.forma-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedor-descargas {
    max-width: 50rem; 
    max-height: 80rem;
    margin: 0 auto;
}

.table

@media (min-width: 768px) {
    .contenedor {
        max-width: 1200px; /** 1200px **/
        margin: 0 auto;
    }
    .vista-documento {
        max-width: 100%;
    }
    
    h1 {
        font-size: 3.8rem;
    }
    h2 {
        font-size: 3.4rem;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        font-size: 2.6rem;
    }
    h5 {
        font-size: 2rem;
        font-weight: 300;
        font-style: bold;
    }
    
    .vista-documento h1{
        font-size: 3.8rem;
    }
    .vista-documento h2{
        font-size: 3.4rem;
    }
    .vista-documento h3{
        font-size: 2.8rem;
    }
    .vista-documento h4{
        font-size: 2.4rem;
    }
    .vista-documento h5{
        font-size: 2.2rem;
    
    }
    .vista-documento p{
        font-size: 2.2rem;
    }

    .navegacion a {
        color: #006699;
        text-decoration: none;
        font-size: 1.8rem; /**= 18px **/
        margin-right: 2rem;
    }
    .seccion {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .contenido-centrado {
        max-width: 800px;
    }
    .seleccionar-opcion {
        max-width: 320px;
    }
    .boton {
        color: white;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.8rem;
        padding: 1rem 3rem;
        margin-top: 3rem;
        display: inline-block;
        text-align: center;
        border: none;
    }
    .boton-cambio {
        font-weight: 600;
        font-size: 1.2rem;
        padding: 0.5rem 0.5rem;
        margin-top: 0.5rem;
        display: inline-block;
        text-align: center;
        border: none;
        background-color:#0F6B8A;
        
    }
}   
#titulo{
    color: white;
	background: blue;
    padding:5px;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    display: inline-block;
    text-align: center;
    border: none;
                
}
#contenido{
	background: none;
    padding:20px 10px;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
    border: none;
                
}
.imgcolexp{
	float:right;
	width:16px;
        cursor:pointer;
}
.expandirContraerCSS {
    font-family:Arial helvetica; 
      color:#AA0000; 
      font-weight:bold;
      text-decoration: none;
      font-size: smaller; 
      border-bottom: #cccccc 1px solid; 
      background-color: #fbedbb;
      width:100%;
      margin-bottom: 0px; 
      margin-top: 0px;
}

/* estilo para una linea de titulo de etiqueta pre */
.pre_titulo
{
  color: #ffffff;
  background-color: #006699;
  font-weight: bold;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Estilo de presentacion de la etiqueta pre */
pre
{
  background-color: white;
  padding-right: 7pt; 
  padding-left: 7pt;
  padding-bottom: 7pt; 
  padding-top: 7pt; 
  font-family: "Courier New", Courier, mono;
  font-size:9pt;
  white-space: pre;
  overflow:auto;
}
.wrap-collabsible {
    margin-bottom: 0 0;
  }
  
  input[type='checkbox'] {
    -webkit-appearance:checkbox;
    align-content: center;
    transform: scale(1.5);
  }
  
  
  .lbl-toggle {
    display: block;
  
    font-weight: bold;
    font-family: monospace;
    font-size: 1 rem;
    text-transform: uppercase;
    text-align: center;
  
    padding: 1rem;
  
    color: white;
    background: #0F6B8A;
  
    cursor: pointer;
  
    border-radius: 7px;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
    color: white;
  }
  
  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }
  
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .collapsible-content .content-inner {
    background: white;
    font-size: 0.5rem;
    border-bottom: 1px solid rgba(250, 224, 66, .45);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: .5rem 1rem;
  }
  .content-inner p {
      font-size: 1.5rem;
      text-align: center;
      font-weight: 700;
  }

#formulario {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    align-content: center;
    padding-left: 150px;
    padding-right: 150px;
        
    

}
main {
    align-content: center;
    ;
}
input[type='number'] {
 width: 100px;
    
  }
  input[type='text'] {
    width: 300px;
       
     }
     
input[type='text'] {
        width: 300px;
           
         }

select {
    width: 300px;
}
input[type='date'] {
    width: 300px;
       
     }
input[type='time'] {
width: 300px;
    
    }

.arriba{
    position:fixed; top:100px; right: 55px;
    
    

}


